body {
    background-color: #191919;
}

#andy_locks_logo_header {
    max-width: 30px;
    margin: 15px;
    border-radius: 50%;
}

.header_div {
    -moz-box-align: center;
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 99%;
    box-sizing: border-box;
    position: fixed;
    top: 0px;
    background-color: #232323;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

header {
    background-color: #232323;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

p {
    font-family: "Montserrat", sans-serif;
    color: white;
    margin: 5px;
}

h1 {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 140%;
}

.header_icon {
    max-width: 30px;
}

main {
    margin-left: 50px;
    margin-right: 50px;
}

#logo_and_name {
    display: inline-flex;
    align-items: center;
}

#header_github_icon_a {
    width: 30px;
}

#main_welcome {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
}

#main_welcome p {
    margin: 0;
}
#main_welcome h1 {
    margin: 0;
}

#contacts_icons {
    width: 100px;
    display: inline-flex;
    align-items: center;
}

#discord_icon {
    margin-left: 10px;
}
#header_discord_icon_a {
    width: 50px;
    display: inline-flex;
    align-items: center;
}

footer {
    margin-left: 50px;
    margin-right: 50px;
}

#programming_language {
    text-align: center;
}

#programming_language p {
    font-weight: 1000;
    margin: 0;
}

.programming_language_icon {
    max-width: 50px;
}

.tool_icon {
    max-width: 50px;
}

.framework_icon {
    max-width: 50px;
}

.database_icon {
    max-width: 50px;
}

#language_list {
    display: inline-flex;
    align-items: center;
    padding: 10px;
    background-color: #232323;
    border-radius: 15px;
}

#tools {
    text-align: center;
}

#tools p {
    font-weight: 1000;
    margin: 0;
}

#tools_list {
    display: inline-flex;
    align-items: center;
    padding: 10px;
    background-color: #232323;
    border-radius: 15px;
}

.tool {
    margin: 10px;
    margin-left: 25px;
    margin-right: 25px;
}

.good_level {
    color: #57F287;
}

.middle_level {
    color: #FEE75C;
}

.basic_level {
    color: #ED4245;
}

.language {
    margin: 10px;
    margin-left: 25px;
    margin-right: 25px;
}

#frameworks {
    text-align: center;
}

#frameworks p {
    font-weight: 1000;
    margin: 0;
}

#frameworks_list {
    display: inline-flex;
    align-items: center;
    padding: 10px;
    background-color: #232323;
    border-radius: 15px;
}

.framework {
    margin: 10px;
    margin-left: 25px;
    margin-right: 25px;
}

#databases {
    text-align: center;
}

#databases p {
    font-weight: 1000;
    margin: 0;
}

#databases_list {
    display: inline-flex;
    align-items: center;
    padding: 10px;
    background-color: #232323;
    border-radius: 15px;
}

.database {
    margin: 10px;
    margin-left: 25px;
    margin-right: 25px;
}