body {
    background-color: #191919;
    overflow-x: hidden;
}

#andy_locks_logo_header {
    max-width: 30px;
    margin: 15px;
    border-radius: 50%;
}

#andy_locks_logo_footer {
    max-width: 30px;
    margin: 15px;
    border-radius: 50%;
}

.header_div {
    -moz-box-align: center;
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: fixed center;
    top: 0px;
    background-color: #232323;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

header {
    background-color: #232323;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

p {
    font-family: "Montserrat", sans-serif;
    color: white;
    margin: 5px;
}

h1 {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 140%;
}

.header_icon {
    max-width: 30px;
}

.logo_and_name {
    display: inline-flex;
    align-items: center;
}

#header_github_icon_a {
    width: 30px;
}

.info_section {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
}

.info_section p {
    margin: 0;
}
.info_section h1 {
    margin: 0;
}

#contacts_icons {
    width: 86px;
    display: inline-flex;
    align-items: center;
}

#discord_icon {
    margin-left: 10px;
}
#header_discord_icon_a {
    width: 50px;
    display: inline-flex;
    align-items: center;
}

#programming_language {
    text-align: center;
    box-sizing: border-box;
    flex: 0 0 auto;
}

#programming_language p {
    font-weight: 1000;
    margin: 0;
}

.programming_language_icon {
    max-width: 50px;
}

.tool_icon {
    max-width: 50px;
}

.framework_icon {
    max-width: 50px;
}

.database_icon {
    max-width: 50px;
}

#language_list {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    background-color: #232323;
    border-radius: 15px;
}

#tools {
    text-align: center;
}

#tools p {
    font-weight: 1000;
    margin: 0;
}

#tools_list {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    background-color: #232323;
    border-radius: 15px;
}

.tool {
    margin: 10px;
    margin-left: 25px;
    margin-right: 25px;
    box-sizing: border-box;
    flex: 1 1 auto;
}

.good_level {
    color: #57F287;
}

.middle_level {
    color: #FEE75C;
}

.basic_level {
    color: #ED4245;
}

.language {
    flex: 1 1 content;
    box-sizing: border-box;
    margin: 10px;
    margin-left: 25px;
    margin-right: 25px;
}

#frameworks {
    text-align: center;
    box-sizing: border-box;
    flex: 0 0 auto;
}

#frameworks p {
    font-weight: 1000;
    margin: 0;
}

#frameworks_list {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    background-color: #232323;
    border-radius: 15px;
}

.framework {
    margin: 10px;
    margin-left: 25px;
    margin-right: 25px;
    flex: 1 1 content;
    box-sizing: border-box;
}

#databases {
    text-align: center;
}

#databases p {
    font-weight: 1000;
    margin: 0;
}

#databases_list {
    display: inline-flex;
    flex-wrap: wrap; 
    align-items: center;
    padding: 10px;
    background-color: #232323;
    border-radius: 15px;
}

.database {
    margin: 10px;
    margin-left: 25px;
    margin-right: 25px;
    flex: 1 1 content;
    box-sizing: border-box;
}

#hobbys_section {
    margin-top: 200px;
    text-align: center;
}

#hobbys_list {
    display: inline-flex;
    flex-wrap: wrap;
}

.hobby {
    margin: 15px;
    padding: 15px;
    width: 200px;
    max-height: 200px;
    background-color: #232323;
    border-radius: 15px;
    flex: 1 1 content;
    box-sizing: border-box;
}

.hobby p {
    font-weight: 800;
    font-style: italic;
}

footer {
    margin-top: 800px;
    margin-left: -8px;
    margin-right: -8px;
}

.footer_div {
    display: flex;
    align-items: center;
    bottom: 0px;
    background-color: #232323;
    -moz-box-align: center;
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-right: 15px;
}

#more_info {
    flex-wrap: wrap;
    display: inline-flex;
    text-align: center;
    align-items: center;
}

#more_info input {
    background-color: #232323;
    border: none;
    width: 200px;
    box-sizing: border-box;
    height: 54.75px;
    border-radius: 15px;
    margin-right: 20px;
    margin-left: 20px;
    margin: 15px;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    flex: 1 1 auto;
}

#more_info button {
    background-color: #5865F2;
    border: none;
    padding: 15px 30px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    border-radius: 15px;
    font-weight: 700;
    flex: 1 1 auto;
    max-width: 161px;
}

#more_info button:hover {
    background-color: #4b56cc;
}

#more_info_text {
    font-size: 30px;
}